*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
 
}
@keyframes upDown {
  0%, 100% { transform: translateY(100%); }
  50% { transform: translateY(0%); }
}